[submodule ".bash"]
	path = .bash
	url = github.com:kalrish/bashrc.git
[submodule ".config"]
	path = .config
	url = github.com:kalrish/dotfiles.git
[submodule ".gnupg"]
	path = .gnupg
	url = github.com:kalrish/GnuPG-conf.git
